<section class='comment'>
  <h3>{{author}}</h3>
  <h5>{{format_date post_date}}</h5>
  <p>{{content}}</p>
</section>

{{!-- all comments should be associated with their respective post --}}
{{!-- comments would not have their own route, will be appearing in post under the post itself --}}