{{#each user.posts}} 
<section class="container">
  <div class="post">
    <h4>{{title}}</h4>
    <h5>{{content}}</h5>
    <h5>{{format_date post_date}}</h5>
    <button type='click' class="btn-update">Update</button>
    <button class="btn-delete" data-id="{{id}}">Delete</button>
  </div>
{{/each}}

{{!-- section for creating new post --}}
<section class="create-post">
    <form class="form-post">
      <div class="div-post">
        <input class="form-input" type="text" id="post-name" name="post-name" />
        <input class="form-input" type="text" id="post-content" name="post-content" />
      </div>
      <div class="div-post">
        <button type="submit" class="btn btn-primary">Create a new post</button>
      </div>
    </form>
</section>

<script src="./js/post.js"></script>