<section class="container">
  <h3 class="post-name">{{post.title}}</h3>
  <h4>{{post.content}}</h4>
  <h4>{{user.username}}</h4>
  <h5>{{format_date post.post_date}}</h5>
  <section>
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>

{{!-- section for creating new post --}}

<section class="create-post">
    <form class="form-post">
      <div class="div-post">
        <input class="form-input" type="text" id="post-name" name="post-name" />
      </div>
      <div class="div-post">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
</section>