<section class="container-post">
  <h3 class="post-name">{{post.title}}</h3>
  <h4>{{post.author}}</h4>
  <h5>{{ format_date post.post_date}}</h5>
  <p>{{post.content}}</p>
</section>
<section class="container-comment">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</section>

{{!-- need to add section for leaving a comment --}}