<section class="container-post">
  <h3 class="post-name">{{post.title}}</h3>
  <h4 class="user-name">By {{post.user.username}}</h4>
  <p class="date-p">{{format_date post.createdAt}}</p>
  <p>{{post.content}}</p>
</section>
<section class="container-comment">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</section>
<section class="leave-comment">
    <form class="form-comment">
      <div class="div-comment">
        <input class="form-input-comment" type="text" id="comment-name" name="comment-name" />
      </div>
      <div class="div-comment">
        <button type="submit" class="btn-comment">Leave a comment</button>
      </div>
    </form>
</section>

<script src="/js/comment.js"></script>
