<section class="container-post">
  <h3 class="post-name">{{post.title}}</h3>
  <h4>{{post.user.username}}</h4>
  <h5>{{format_date post.post_date}}</h5>
  <p>{{post.content}}</p>
</section>
<section class="container-comment">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
</section>
<section class="leave-comment">
    <form class="form-comment">
      <div class="div-comment">
        <input class="form-input" type="text" id="comment-name" name="comment-name" />
      </div>
      <div class="div-comment">
        <button type="submit" class="btn btn-primary">Leave a comment</button>
      </div>
    </form>
</section>

<script src="./js/comment.js"></script>